webservice_Client/src/main/java/com/example/ceshisuan/util/wsServeice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.ws_demo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.ws_demo/" name="WebServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.ws_demo/" schemaLocation="http://localhost:8081/wsServeice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"></part>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"></part>
</message>
<message name="sayHello1">
<part name="parameters" element="tns:sayHello1"></part>
</message>
<message name="sayHello1Response">
<part name="parameters" element="tns:sayHello1Response"></part>
</message>
<message name="sayHello2">
<part name="parameters" element="tns:sayHello2"></part>
</message>
<message name="sayHello2Response">
<part name="parameters" element="tns:sayHello2Response"></part>
</message>
<message name="sayHello3">
<part name="parameters" element="tns:sayHello3"></part>
</message>
<message name="sayHello3Response">
<part name="parameters" element="tns:sayHello3Response"></part>
</message>
<message name="sayHello4">
<part name="parameters" element="tns:sayHello4"></part>
</message>
<message name="sayHello4Response">
<part name="parameters" element="tns:sayHello4Response"></part>
</message>
<portType name="WebServiceImpl">
<operation name="sayHello">
<input wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHelloRequest" message="tns:sayHello"></input>
<output wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHelloResponse" message="tns:sayHelloResponse"></output>
</operation>
<operation name="sayHello1">
<input wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello1Request" message="tns:sayHello1"></input>
<output wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello1Response" message="tns:sayHello1Response"></output>
</operation>
<operation name="sayHello2">
<input wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello2Request" message="tns:sayHello2"></input>
<output wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello2Response" message="tns:sayHello2Response"></output>
</operation>
<operation name="sayHello3">
<input wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello3Request" message="tns:sayHello3"></input>
<output wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello3Response" message="tns:sayHello3Response"></output>
</operation>
<operation name="sayHello4">
<input wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello4Request" message="tns:sayHello4"></input>
<output wsam:Action="http://impl.ws_demo/WebServiceImpl/sayHello4Response" message="tns:sayHello4Response"></output>
</operation>
</portType>
<binding name="WebServiceImplPortBinding" type="tns:WebServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="sayHello">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sayHello1">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sayHello2">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sayHello3">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sayHello4">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WebServiceImplService">
<port name="WebServiceImplPort" binding="tns:WebServiceImplPortBinding">
<soap:address location="http://localhost:8081/wsServeice"></soap:address>
</port>
</service>
</definitions>